.env
backend/.env
frontend/.env

__pycache__/
*.py[cod]
.venv/
venv/
backend/.venv/

node_modules/
frontend/dist/

backend/static/uploads/*
!backend/static/uploads/.gitkeep

.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
